* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

header {
  display: flex;
  background-color: #eaf4fc;
  justify-content: space-around;
}
header p img {
  width: 225px;
  height: 90px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header p img {
    padding-left: 12px;
  }
}
header nav {
  background-color: #eaf4fc;
  min-width: 75%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav {
    min-width: unset;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    min-width: unset;
    width: 100%;
  }
}
header nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}
@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav ul a {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #9cbded;
  font-weight: bold;
  font-size: 16px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #00357A;
  margin-right: 15px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav ul a {
    font-size: 13px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  header nav ul a {
    margin-right: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 1px solid #00357A;
    border-bottom: 1px solid #00357A;
    justify-content: center;
  }
}
header nav ul a:hover {
  background-color: #86afe9;
}
header nav ul a:hover > i {
  -webkit-animation: iconAnimation ease-out 400ms 150ms;
          animation: iconAnimation ease-out 400ms 150ms;
  transform: scale(1.25);
  color: #d4e8f9;
  transition: transform 700ms ease-in;
  transition: color 300ms 200ms ease-in;
}
header nav ul a:hover > li {
  transform: scale(1.05);
  transition: all 500ms;
  color: #004094;
}
header nav ul a i {
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav ul a i {
    margin-right: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  header nav ul a i {
    margin-right: 15px;
  }
}
header nav ul .contact-menu-item {
  background-color: #9cbded;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav ul .contact-menu-item {
    font-size: 15px;
  }
}
header nav ul .contact-menu-item:hover {
  background-color: #4683dd;
  color: #dde8f9;
  transition: all 800ms 100ms ease-out;
}
header nav ul .contact-menu-item:hover:hover > li {
  color: #c7daf5;
}

.burger {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: absolute;
  top: 10;
  right: 10px;
  display: none;
  cursor: pointer;
  width: 33px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00357A;
  width: 30px;
  height: 5px;
  position: relative;
}
.burger__menu::before {
  content: "";
  display: block;
  background-color: #00357A;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10px;
}
.burger__menu::after {
  content: "";
  display: block;
  background-color: #00357A;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 20px;
}

.displayNav {
  display: block;
  transform: translateX(-50px);
}

.disappearLogo {
  display: none;
}

strong {
  font-weight: bold;
}

@-webkit-keyframes iconAnimation {
  0% {
    transform: rotate(-0.15turn);
  }
  50% {
    transform: rotate(0turn);
  }
  75% {
    transform: rotate(0.15turn);
  }
  100% {
    transform: rotate(0turn);
  }
}

@keyframes iconAnimation {
  0% {
    transform: rotate(-0.15turn);
  }
  50% {
    transform: rotate(0turn);
  }
  75% {
    transform: rotate(0.15turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
section {
  position: relative;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  section {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
}
section .logo-H1-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width: 768px) {
  section .logo-H1-container {
    margin-bottom: 15px;
  }
}
section .logo-H1-container__logo {
  width: 155px;
  height: 185px;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 5;
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  section .logo-H1-container__logo {
    width: 90px;
    height: 110px;
  }
}
section .logo-H1-container__H1 {
  z-index: 2;
  height: 5rem;
  text-align: center;
  background-color: #4583DE;
  font-size: 1.7rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(244, 241, 241);
  text-decoration: underline;
}
@media screen and (min-width: 668px) and (max-width: 992px) {
  section .logo-H1-container__H1 {
    font-size: 1.1rem;
    height: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  section .logo-H1-container__H1 {
    font-size: 14px;
    height: auto;
    padding: 12px 8px;
    align-items: center;
    margin: 0px 10px;
  }
}
section .btn-container {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 668px) and (max-width: 992px) {
  section .btn-container {
    width: 93vw;
  }
}
@media screen and (max-width: 768px) {
  section .btn-container {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
section .btn-container .contact-btn {
  z-index: 2;
  padding: 0.8rem 1.5rem;
  text-align: center;
  border-radius: 20px;
  background-color: #4583DE;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 30%;
  color: rgb(244, 241, 241);
}
@media screen and (min-width: 668px) and (max-width: 992px) {
  section .btn-container .contact-btn {
    font-size: 0.9rem;
    padding: 0.5rem 1.1rem;
    height: 55px;
  }
}
@media screen and (max-width: 768px) {
  section .btn-container .contact-btn {
    margin-bottom: 15px;
    border-radius: 15px;
    height: auto;
    width: 60%;
    max-width: 250px;
  }
}
section .btn-container .contact-btn:hover {
  border: solid 2px #4583DE;
  transition: all 500ms ease-in;
}
section .btn-container .contact-btn--3:hover {
  font-size: 1.08rem;
  transition: all 300ms ease-out;
}

.main {
  background-color: #eaf4fc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
}
.main__div {
  width: 100%;
}
.main__h2 {
  font-size: 1.5rem;
  color: #00357A;
  background-color: #eaf4fc;
  padding: 1rem 0;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4583DE;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 768px) {
  .main__h2 {
    font-size: 18px;
    width: 50%;
    min-width: 165px;
  }
}
.main__h2:hover {
  background-color: #eef6fd;
  font-size: 1.65rem;
  transition: all 700ms ease-out;
}
.article {
  margin-top: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .article {
    padding: 0;
  }
}
.article__title {
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  color: #00357A;
  background-color: #4583DE;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .article__title {
    font-size: 16px;
  }
}
.article__title:hover {
  background-color: #eaf4fc;
  transition: background-color 500ms ease-out;
}
.article__p {
  font-size: 1.2rem;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .article__p--hidden {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .article__p--hidden {
    display: none;
  }
}
.article__p--visible {
  display: block;
}
.article__p--img {
  display: flex;
  justify-content: center;
}
.article__p--img:hover {
  scale: 1.1;
  margin-top: 20px;
  transition: scale 300ms ease-in;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .article__p--img {
    width: 700px;
    height: 215px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media screen and (max-width: 768px) {
  .article__p--img {
    width: 100%;
    height: 100px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.article__btn {
  width: 100px;
  background-color: #4583DE;
  color: rgb(244, 241, 241);
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  border: solid #4583DE 1px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .article__btn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .article__btn {
    display: block;
  }
}
.article__contact-btn {
  background-color: #4583DE;
  border-radius: 15px;
  border: solid #4583DE 1px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding: 10px;
  color: #00357A;
  margin-top: 10px;
}
.article__contact-btn:hover {
  border: #4583DE solid2px;
  font-size: 16px;
  scale: 1.02;
  color: #00142e;
  transition: all 300ms ease-in;
}

.iframe__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}

iframe {
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  iframe {
    width: 90%;
  }
}

.bold-Items {
  font-weight: bold;
}

.video-not-displayed {
  display: none;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  transition: all 5s;
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: row;
    justify-content: space-between;
  }
}
.carousel__button {
  height: auto;
  padding: 15px;
  background-color: #4583DE;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.carousel__button:hover {
  background-color: #70a0e6;
  transition: 200ms ease-in;
}
.carousel__button:active {
  color: #00357A;
  transition: 200ms ease-in;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carousel__button {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .carousel__button {
    font-size: 12px;
    padding: 10px;
    margin-right: 10px;
  }
}

iframe {
  width: 600px;
  height: 400px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  iframe {
    width: 95%;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  iframe {
    width: 95%;
    height: 180px;
  }
}

.carousel-images {
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/pipes3.jpg);
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in;
  background-clip: padding-box;
}

@-webkit-keyframes indexbuttons {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  75% {
    margin-left: -20px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes indexbuttons {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  75% {
    margin-left: -20px;
  }
  100% {
    margin-left: 0;
  }
}
.plaquette {
  box-shadow: 1px -1px 10px #00357A;
  width: 700px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .plaquette {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .plaquette {
    display: none;
  }
}
.plaquette__title {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .plaquette__title {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .plaquette__title {
    display: none;
  }
}

body {
  background-color: #eaf4fc;
}

.main {
  padding: 0 100px;
}
.main__h1 {
  color: #00357A;
  background-color: #4583DE;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 50 0px;
  font-size: 20px;
}
.main__h1:hover {
  background-color: #eaf4fc;
  transition: all 300ms ease;
}

.section_avantages {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}
.section_avantages .section_avantages__title {
  font-size: 18px;
  color: #00357A;
  background-color: #4583DE;
  padding: 10px 15px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px 0;
}
.section_avantages .section_avantages__title:hover {
  background-color: #eaf4fc;
  transition: all 300ms ease;
}
.section_avantages__intropara {
  font-size: 16px;
  align-self: flex-start;
  margin-bottom: 15px;
}
.section_avantages .section_avantages__list {
  list-style-type: decimal;
}
.section_avantages .section_avantages__list li {
  margin-bottom: 15px;
}

.section_economies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.section_economies .section_economies__title {
  font-size: 18px;
  color: #00357A;
  background-color: #4583DE;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 50px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section_economies .section_economies__title:hover {
  background-color: #eaf4fc;
  transition: all 300ms ease;
}
.section_economies .section_economies__p {
  margin-bottom: 10px;
  font-size: 16px;
}

.section_importance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 50px;
}
.section_importance .section_importance__title {
  font-size: 18px;
  color: #00357A;
  background-color: #4583DE;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 50px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section_importance .section_importance__p {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer {
  background-color: #4583DE;
  display: flex;
  flex-direction: column;
}
.footer__logos-container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9cbded;
}
@media screen and (max-width: 768px) {
  .footer__logos-container {
    flex-direction: column;
  }
}
.footer__logos-container--x2 {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__logos-container--x2 {
    width: 36%;
  }
}
@media screen and (max-width: 768px) {
  .footer__logos-container--x2 {
    width: 100%;
  }
}
.footer__title {
  font-size: 1.3rem;
  color: #00357A;
  margin-bottom: 10px;
}
.footer-logos {
  height: 135px;
  width: 120px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-logos {
    height: 100px;
    width: 90px;
  }
}
@media screen and (max-width: 768px) {
  .footer-logos {
    height: 100px;
    width: 100px;
  }
}
.footer-logos--large {
  height: 135px;
  width: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-logos--large {
    height: 100px;
    width: 140px;
  }
}
@media screen and (max-width: 768px) {
  .footer-logos--large {
    height: 100px;
    width: 200px;
  }
}
.footer__second-part {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__second-part {
    padding-bottom: 10px;
  }
}
.footer__second-part__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__second-part__logo {
    flex-direction: column;
  }
}
.footer__second-part__logo__mailto {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}
.footer__second-part__logo-icons {
  margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__second-part__logo-icons {
    margin-right: 7px;
  }
}
@media screen and (max-width: 768px) {
  .footer__second-part__logo-icons {
    margin-right: 4px;
  }
}
.footer__second-part__logo--contact-items {
  font-size: 13px;
  padding: 5px 15px;
  color: rgb(217, 209, 209);
  width: 277px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__second-part__logo--contact-items {
    font-size: 11px;
    width: 230px;
    padding: 4px 5px;
  }
}
@media screen and (max-width: 768px) {
  .footer__second-part__logo--contact-items {
    font-size: 11px;
    padding: 0px 3px;
    color: rgb(217, 209, 209);
    margin-top: 10px;
    width: 205px;
  }
}
.footer__second-part__logo--contact-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px #00357A solid;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__second-part__logo--contact-items-container {
    padding-top: 12px;
  }
}
@media screen and (max-width: 768px) {
  .footer__second-part__logo--contact-items-container {
    justify-content: flex-start;
    padding-left: 5px;
    border-right: none;
  }
}
.footer__navigation {
  width: 55%;
  color: rgb(217, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .footer__navigation {
    height: auto;
    border-left: 1px #00357A solid;
  }
}
.footer__navigation-title {
  font-size: 0.9rem;
  padding-top: 0.6rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.footer__navigation-list {
  list-style-type: none;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__navigation-list {
    font-size: 12px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .footer__navigation-list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
}
.footer__navigation-list a {
  color: rgb(174, 206, 216);
}
.footer__navigation-list li:hover {
  color: #00357A;
  font-weight: bold;
  scale: 1.05;
  transition: all 300ms ease-in;
}
.footer__navigation-list a {
  margin-bottom: 3px;
}

.logo-entreprise-footer {
  width: 200px;
  height: 90px;
}
@media screen and (max-width: 768px) {
  .logo-entreprise-footer {
    width: 180px;
    height: 80px;
  }
}

.contactfooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contactfooter .phoneicon {
  opacity: 0;
  transition: opacity 1s;
  margin-right: 1rem;
  color: rgb(223, 83, 83);
  rotate: -1turn;
}

.contactfooter:hover {
  color: #4583DE;
  scale: 1.15;
  font-weight: bold;
  transition: all 500ms ease-in;
}
.contactfooter:hover .phoneicon {
  opacity: 1;
  scale: 1.3;
  rotate: 1turn;
  transition: opacity 800ms ease-in, rotate 700ms 500ms ease-out, scale 500ms 300ms ease-in-out;
}/*# sourceMappingURL=main.css.map */