* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

header {
  display: flex;
  width: 100%;
}
header p img {
  width: 200px;
  height: 140px;
}
header nav {
  background-color: #b2c2ee;
  width: 90%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 3.5rem;
  background-color: #b2c2ee;
  padding-right: 2rem;
}
header nav ul a {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f3936e;
  font-weight: bold;
  font-size: 1rem;
  border-bottom-right-radius: 5px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: rgb(1, 56, 114);
  box-shadow: 3px 3px 2px -1px #f3936e;
}
header nav ul a:hover {
  background-color: #f18256;
  transition: margin-top 2s ease-in-out;
  margin-top: 3px;
}
header nav ul a:hover > i {
  transform: rotate(1turn) scale(1.4);
  transition: transform 800ms 150ms ease-out;
}
header nav ul a:hover > li {
  transform: scale(1.1);
  transition: all 500ms;
  color: #01448b;
}
header nav ul a i {
  margin-right: 0.8rem;
}
header nav ul .contact-menu-item {
  background-color: #f18256;
  font-size: 1.2rem;
  font-weight: bolder;
}
header nav ul .contact-menu-item:hover {
  background-color: #e84f13;
  color: #025dbe;
  transition: all 800ms 100ms ease-out;
}
header nav ul .contact-menu-item:hover:hover > li {
  color: #025dbe;
}

section {
  position: relative;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url(/images/pipes_background.jpg);
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
section .logo-H1-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}
section .logo-H1-container__logo {
  width: 170px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
  opacity: 0.9;
}
section .logo-H1-container__H1 {
  z-index: 2;
  height: 5rem;
  text-align: center;
  background-color: #087CA7;
  font-size: 1.7rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(244, 241, 241);
  text-decoration: underline;
}
section .btn-container {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}
section .btn-container .contact-btn {
  z-index: 2;
  padding: 0.8rem 1.5rem;
  text-align: center;
  border-radius: 20px;
  background-color: #087CA7;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 30%;
  color: rgb(244, 241, 241);
}
section .btn-container .contact-btn:hover {
  border: solid 2px #f3936e;
  transition: all 300ms ease-in;
}
section .btn-container .contact-btn--3:hover {
  font-size: 1.5rem;
}

.main {
  background-color: #b2c2ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main__h2 {
  font-size: 2rem;
  color: rgb(1, 56, 114);
  background-color: #b2c2ee;
  padding: 1rem 0;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3936e;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main__h2:hover {
  background-color: #bac9f0;
  font-size: 2.2rem;
  transition: all 700ms ease-out;
}
.article {
  margin-top: 1rem;
  padding: 2rem;
}
.article__title {
  font-size: 1.5rem;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  color: rgb(1, 56, 114);
  background-color: #f3936e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.article__title:hover {
  background-color: #b2c2ee;
  transition: background-color 500ms ease-out;
}
.article__p {
  font-size: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.article__btn {
  width: 100px;
  background-color: #f3936e;
  color: rgb(1, 56, 114);
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
}

.iframe__container {
  display: flex;
  justify-content: center;
}

iframe {
  border-radius: 10px;
}

@-webkit-keyframes indexbuttons {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  75% {
    margin-left: -20px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes indexbuttons {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  75% {
    margin-left: -20px;
  }
  100% {
    margin-left: 0;
  }
}
.carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

.carousel-item.active {
  transform: translateX(0);
}

.carousel-item.prev {
  transform: translateX(-100%);
}

.carousel-item.next {
  transform: translateX(100%);
}

.footer {
  background-color: rgb(1, 56, 114);
  display: flex;
  flex-direction: column;
}
.footer__logos-container {
  padding: 0.5rem 2rem;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3936e;
}
.footer__title {
  font-size: 1.5rem;
  color: rgb(1, 56, 114);
}
.footer-logos {
  height: 150px;
  width: 150px;
  -o-object-fit: fill;
     object-fit: fill;
}
.footer-logos--large {
  height: 150px;
  width: 250px;
  -o-object-fit: fill;
     object-fit: fill;
}
.footer__second-part {
  display: flex;
  justify-content: space-around;
  padding-right: 5rem;
}
.footer__second-part__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__second-part__logo__mailto {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}
.footer__navigation {
  width: 100%;
  color: rgb(217, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}
.footer__navigation-title {
  font-size: 1.5rem;
  padding-top: 0.3rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.footer__navigation-title:hover {
  transform: rotate(1turn);
  transition: transform 700ms ease-out;
}
.footer__navigation-list {
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.footer__navigation-list a {
  color: rgb(174, 206, 216);
}
.footer__navigation-list li:hover {
  color: rgb(232, 79, 19);
  font-weight: bold;
  scale: 1.05;
  transition: all 300ms ease-in;
}

.logo-entreprise-footer {
  width: 200px;
  height: 140px;
}

.contactfooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contactfooter .phoneicon {
  opacity: 0;
  transition: opacity 1s;
  margin-right: 1rem;
  color: rgb(223, 83, 83);
  rotate: -1turn;
}

.contactfooter:hover {
  color: rgb(232, 79, 19);
  scale: 1.15;
  font-weight: bold;
  transition: all 500ms ease-in;
}
.contactfooter:hover .phoneicon {
  opacity: 1;
  scale: 1.3;
  rotate: 1turn;
  transition: opacity 800ms ease-in, rotate 700ms 500ms ease-out, scale 500ms 300ms ease-in-out;
}/*# sourceMappingURL=main.css.map */